@use "@trl11/styles/theme.scss" as *;

.settings-page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 480px));
    align-items: start;
    gap: 20px;
  }

  &__error {
    font-size: 13px;
    color: $indicator-red;
  }
}
